<!--
File: campus_pickup/templates/campus_pickup/profile_confirm_delete.html
Author: Louis Szeto (szetol@bu.edu), 4/21/2026
Description: Confirmation template for deleting a profile.
-->
{% extends "campus_pickup/base.html" %}

{% block content %}
<section class="panel">
    <h2>Delete Profile #{{ object.id }}</h2>
    <p>Are you sure you want to delete profile "{{ object.display_name }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button class="danger-link" type="submit">Yes, Delete</button>
        <a class="button-link" href="{% url 'campus_pickup:profile_detail' object.pk %}">Cancel</a>
    </form>
</section>
{% endblock %}
