<!--
File: base.html
Author: Louis Szeto (szetol@bu.edu), 2/12/2026
Description: Base template for mini_insta. Provides standard HTML layout,
CSS link, header/footer, and a content block for inheriting pages.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mini_insta</title>
    <link rel="stylesheet" href="{% static 'styles/a3.css' %}">
</head>

<body>
    <header>
        <h1>Mini Insta</h1>
        <hr>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!--  Author: Louis Szeto (szetol@bu.edu), 2/18/2026
                New footer to create post if in profile-->        
            <nav>
                <a href="{% url 'show_all_profiles' %}">Profiles</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'show_feed' %}">Home</a>
                    <a href="{% url 'my_profile' %}">My Profile</a>
                    <a href="{% url 'search' %}">Search</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                    <button type="submit">Logout</button>
                    </form>
                    <span>Logged in as {{ user.username }}</span>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <span>Not logged in</span>
                {% endif %}
            </nav>
    </footer>
</body>
</html>
